Q1)
Values:'hello',-87.8,6
Expressions: *,-,/,+

Q2)
variable can store any value it can be integer, string, float,etc. where as string takes values only in ''. Datatype of variable can vary depending on the value assigned but datatype of string is string only

Q3)
String: It is written in ''. eg.'qwqe12@','1231534','True'
integer: They are the numeric values. eg.134214
Boolean: It has True & False values.

Q4)
expression is combination of operators & operands, its value needs to be evaluated and when we want to see the output we will have to execute print statement

Q5)
Expressions are interpreted using a compiler where as statements are standalone unit of execution

In [2]:
#Q6)
bacon=22
bacon+1

23

In [5]:
#Q7)
'spam'+'spamspam'
'spam'*3

'spamspamspam'

Q8)
varible name should either be alphabetic or starting with '_' it cannot be a numeric value. eg.egg=10,_egg=10

Q9)
for integer: int()
for floating-point: float()
for string: str()

In [7]:
"""Q10)
the expression causes an error because we cannot concatinate string and integer to fix this we have to convert integer to string"""

'I have eaten'+' 99'+' burritos'

'I have eaten 99 burritos'